h1 {
	text-align: center;
	font-family: Verdana;
	font-size: 32px;
}
h2 {
	text-align: center;
	font-family: Bookman old style;
	font-size: 26px;
	color: #303030;
}

h3 {
	font-family: Arial black;
	margin-left: 50px;
	font-size: 24px;
}

h4 {
	margin-left: 50px;
	font-size: 20px;
}

table {
	table-layout: auto;
	width: 100%;	
}

.haut {
	background: gainsboro;
}

.photo {
	margin-top: 15px;
	width: 100px;
	height: 100px;
	box-shadow: 5px 5px 5px grey;
	border-radius: 10px;
	align: right;
}

header {
	background: whitesmoke;
}

nav {
	
	font-size: 32px;
	text-align: center;
	border-spacing: 200px;
}

li {
	list-style-type: none;
	display: inline;
}

li a {
	color: grey;
	text-decoration: none;
	padding: 8px 50px;
}

a:hover {
	font-size: 36px;
}

main {
	margin-left: 70px;
	margin-right: 70px;
}

p {
	font-family: Calibri;
	text-align: justify;
	margin-left: 70px;
}

td {
	 vertical-align: top;
	 font-family: Calibri;
}

.icone {
	width: 20px;
	height: 20px;
}

.competences {
	font-family: Calibri;
	margin-left: 100px;
}

form {
	margin-left: 100px;
	font-size: 17px;
}

.animation {
	width: 250px;
	height: 250px;
	animation-name: slide;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-delay: 2s;
}

@keyframes slide {
  from {
    margin-left: 0%;

  }

  to {
    margin-left: 200%;

  }
}